{% extends "profiles/base.html" %}
{% block body %}
<div class="col-lg-10 offset-1" style="margin-top:80px;">
        <div class="card" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)">
            <div class="card-body" style="margin-top:20px">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    Vel elit scelerisque mauris pellentesque pulvinar. Ut pharetra sit 
                    amet aliquam id diam maecenas. Nunc consequat interdum varius sit. 
                    Dui id ornare arcu odio ut sem nulla pharetra diam. Sed id semper risus in.
                    Mauris pellentesque pulvinar pellentesque habitant morbi tristique senectus. 
                    Orci phasellus
                </p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    Vel elit scelerisque mauris pellentesque pulvinar. Ut pharetra sit 
                    amet aliquam id diam maecenas. Nunc consequat interdum varius sit. 
                    Dui id ornare arcu odio ut sem nulla pharetra diam. Sed id semper risus in.
                    Mauris pellentesque pulvinar pellentesque habitant morbi tristique senectus. 
                    Orci phasellus
                </p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    Vel elit scelerisque mauris pellentesque pulvinar. Ut pharetra sit 
                    amet aliquam id diam maecenas. Nunc consequat interdum varius sit. 
                    Dui id ornare arcu odio ut sem nulla pharetra diam. Sed id semper risus in.
                    Mauris pellentesque pulvinar pellentesque habitant morbi tristique senectus. 
                    Orci phasellus
                </p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    Vel elit scelerisque mauris pellentesque pulvinar. Ut pharetra sit 
                    amet aliquam id diam maecenas. Nunc consequat interdum varius sit. 
                    Dui id ornare arcu odio ut sem nulla pharetra diam. Sed id semper risus in.
                    Mauris pellentesque pulvinar pellentesque habitant morbi tristique senectus. 
                    Orci phasellus
                </p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    Vel elit scelerisque mauris pellentesque pulvinar. Ut pharetra sit 
                    amet aliquam id diam maecenas. Nunc consequat interdum varius sit. 
                    Dui id ornare arcu odio ut sem nulla pharetra diam. Sed id semper risus in.
                    Mauris pellentesque pulvinar pellentesque habitant morbi tristique senectus. 
                    Orci phasellus
                </p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    Vel elit scelerisque mauris pellentesque pulvinar. Ut pharetra sit 
                    amet aliquam id diam maecenas. Nunc consequat interdum varius sit. 
                    Dui id ornare arcu odio ut sem nulla pharetra diam. Sed id semper risus in.
                    Mauris pellentesque pulvinar pellentesque habitant morbi tristique senectus. 
                    Orci phasellus
                </p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    Vel elit scelerisque mauris pellentesque pulvinar. Ut pharetra sit 
                    amet aliquam id diam maecenas. Nunc consequat interdum varius sit. 
                    Dui id ornare arcu odio ut sem nulla pharetra diam. Sed id semper risus in.
                    Mauris pellentesque pulvinar pellentesque habitant morbi tristique senectus. 
                    Orci phasellus
                </p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    Vel elit scelerisque mauris pellentesque pulvinar. Ut pharetra sit 
                    amet aliquam id diam maecenas. Nunc consequat interdum varius sit. 
                    Dui id ornare arcu odio ut sem nulla pharetra diam. Sed id semper risus in.
                    Mauris pellentesque pulvinar pellentesque habitant morbi tristique senectus. 
                    Orci phasellus
                </p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    Vel elit scelerisque mauris pellentesque pulvinar. Ut pharetra sit 
                    amet aliquam id diam maecenas. Nunc consequat interdum varius sit. 
                    Dui id ornare arcu odio ut sem nulla pharetra diam. Sed id semper risus in.
                    Mauris pellentesque pulvinar pellentesque habitant morbi tristique senectus. 
                    Orci phasellus
                </p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    Vel elit scelerisque mauris pellentesque pulvinar. Ut pharetra sit 
                    amet aliquam id diam maecenas. Nunc consequat interdum varius sit. 
                    Dui id ornare arcu odio ut sem nulla pharetra diam. Sed id semper risus in.
                    Mauris pellentesque pulvinar pellentesque habitant morbi tristique senectus. 
                    Orci phasellus
                </p><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    Vel elit scelerisque mauris pellentesque pulvinar. Ut pharetra sit 
                    amet aliquam id diam maecenas. Nunc consequat interdum varius sit. 
                    Dui id ornare arcu odio ut sem nulla pharetra diam. Sed id semper risus in.
                    Mauris pellentesque pulvinar pellentesque habitant morbi tristique senectus. 
                    Orci phasellus
                </p><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    Vel elit scelerisque mauris pellentesque pulvinar. Ut pharetra sit 
                    amet aliquam id diam maecenas. Nunc consequat interdum varius sit. 
                    Dui id ornare arcu odio ut sem nulla pharetra diam. Sed id semper risus in.
                    Mauris pellentesque pulvinar pellentesque habitant morbi tristique senectus. 
                    Orci phasellus
                </p>
        </div>
    </div>
</div>
{% endblock body %}
{% block footer %}
    {% include "profiles/footer.html" %}
{% endblock footer %}