{% block footer %}
<footer class="bg-white text-dark mt-4" style="width:100%; right:0; bottom:0; left:0; padding:1rem; position:absolute; box-shadow: 0 -5px 15px -5px #333;font-size:14px;">
    <center><strong><a href="{% url 'profiles:base' %}">© 2018 Барам.мк</a></strong></center>
</footer>
{% endblock footer %}

<!--<footer class="bg-success text-white mt-4" style="width:100%; right:0; bottom:0; left:0; padding:1rem; position:absolute">
        <div class="container py-3">
            <div class="row border-bottom py-3">
                <div class="col-md-3">
                    <h5>Footer</h5>
                </div>
                <div class="col-md-3"><h5>Footer</h5></div>
                <div class="col-md-3"><h5>Footer</h5></div>
                <div class="col-md-3"><h5>Footer</h5></div>
            </div>
            
            <div class="row py-3">
                <div class="col-md-4">I stay at the bottom of the viewport! <span class="small"><br>Unless the page content pushes me further.</span></div>
                <div class="col-md-4">
                    {% load static %}
                    <img height="120px" src="{% static 'profiles/images/footer-logo.png' %}" alt="">
                </div>
                <div class="col-md-4 text-right small align-self-end"><a href="{% url 'profiles:about' %}">© 2018 Барам.мк</a></div>
            </div>
        </div>
    </footer>-->