{% extends 'profiles/base.html' %}
{% block title %}Регистрација - {{block.super}}{% endblock title %}
{% block reg %}active{% endblock %}
{% block forms %}
<div class="col-lg-4 offset-4" style="margin-top:80px">
        <div class="card" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)">
            <div class="card-body" style="margin-top:20px">
                <h4 class="card-title">Регистрација</h4>
                <br>
                <form action="{% url 'profiles:register' %}" method="post">
                    {% csrf_token %}
                    {% if form.non_field_errors %}
                        <ul class="list-group">
                            {% for error in form.non_field_errors  %}
                                <li class="list-group-item list-group-item-danger">{{error}}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <div class="form-group">
                        <input type="text" class="form-control" name="username" id="id_username" placeholder="Корисничко име"/>
                            {% if form.username.errors %}
                                {% for error in form.username.errors %}
                                    <small id="helpId" class="form-text text-danger">{{error}}</small>
                                {% endfor %}
                            {% else %}
                                    <small id="helpId" class="form-text text-muted">{{form.username.help_text}}</small>
                            {% endif %}
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" id="id_email" placeholder="Е-маил адреса">
                            {% if form.email.errors %}
                                {% for error in form.email.errors %}
                                    <small id="helpId" class="form-text text-danger">{{error}}</small>
                                {% endfor %}
                            {% else %}
                                <small id="helpId" class="form-text text-muted">{{form.email.help_text}}</small>
                            {% endif %}
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password1" id="id_password" placeholder="Внесете лозинка">
                            {% if form.password1.errors %}
                                {% for error in form.password1.errors %}
                                    <small id="helpId" class="form-text text-danger">{{error}}</small>
                                {% endfor %}
                            {% else %}
                                {% for field in form.password1.help_text %}
                                    <small id="helpId" class="form-text text-muted">{{field.help_text}}</small>
                                {% endfor %}
                            {% endif %}
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password2" id="id_password" placeholder="Потврдете ја лозинката">
                            {% if form.password2.errors %}
                                {% for error in form.username.errors %}
                                    <small id="helpId" class="form-text text-danger">{{error}}</small>
                                {% endfor %}
                            {% else %}
                                    <small id="helpId" class="form-text text-muted">{{form.password2.help_text}}</small>
                            {% endif %}
                    </div>
                    <div class="form-group">
                        <button type="submit" class="form-control btn btn-success" name="submit">Регистрирај се</button>
                        <small class="form-text text-center text-muted">Веке имате сметка <strong><a class="text-primary" href="{% url 'profiles:login' %}">Најави се</a></strong></small>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" checked>
                                Запомни ме
                        </label>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock forms  %}
{% block footer %}
    <footer class="bg-white text-dark mt-4" style="width:100%; right:0; bottom:0; left:0; padding:1rem; position:absolute">
        <center><strong><a href="{% url 'profiles:about' %}">© 2018 Барам.мк</a></strong></center>
    </footer>
{% endblock footer %}
